@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:wght@200;300;400;500;600;700&family=Jost:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600&family=Raleway:wght@300;400;500;600&family=Ubuntu:wght@300;400;500;700&family=Work+Sans:wght@200;300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0%;
  padding: 0%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer base{
  html{
    font-family: 'Raleway', sans-serif;
  }
}
